@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Play&family=Roboto&display=swap');

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.wrapper {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}

/*--------------------*/
.container {
    min-height: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #C0DBD9;

}

.header {
    padding: 0 0 15px 0;
}
.header-block {
    background: #7FAFF7;
    height: 100px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 30px;
}
.header-block_button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    gap: 10px;
    background: #A5C7F9;
    border-radius: 5px;

}

.header-block_button a {
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.modal:target:before {
    display: block;
}

.modal-dialog {
    background: #fefefe;
    border: #333 solid 1px;
    border-radius: 5px;
    margin-left: -180px;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 6;
    transform: translate(0, -500%);
    transition: transform 0.3s ease-out;
}

.modal:target .modal-dialog {
    transform: translate(0, 0);
    top: 25%
}
.modal-content {
    border-bottom: #eee solid 1px;
    font-size: 53px;
    padding: 169px 117px;
    text-align: center;
}
.close {
    background: #7FAFF6;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 8px 15px;
    text-decoration: none;
    position: absolute;
    right: 15px;
    top: 15px;
}
#close {
    display: none
}
.main {
    flex: 1 1 auto;
    font-size: 53px;
    line-height: 62px;
    color: #FFFFFF;
}
.grid {
    padding: 0 0 15px 0;
}
.grid-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    text-align: center;
    background: #B3F95A;
}
.grid-item_1 {
    grid-area: 1 / 1 / 2 / 3;
    background: #8AD191;
    padding: 68px 0;
}
.grid-item_2 {
    grid-area: 1 / 3 / 2 / 6;
    background: #8AD191;
    padding: 68px 0;
}
.grid-item_3 {
    grid-area: 1 / 6 / 2 / 7;
    background: #8AD191;
    padding: 68px 0;
}

.grid-item_4 {
    grid-area: 2 / 1 / 3 / 6;
    background: #8AD191;
    padding: 68px 0;
}
.grid-item_5 {
    grid-area: 2 / 6 / 3 / 7;
    background: #8AD191;
    padding: 68px 0;
}
.flex {
    padding: 0 0 15px 0;
}
.flex-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    gap: 30px;
    background: #88B5BF;
}
.flex-item {
    flex: 1 1 21%;
    padding: 0 0 16.58% 0;
    background: #0D89B0;
}
.footer {
    flex: 0 0 auto;
    height: 100px;
    background: #7FAFF7;
}